$bg-color: rgb(46, 54, 54);

body {

    background-color: $bg-color;

}

.App{
    text-align: center;
    font-family: sans-serif;
    color: lighten($bg-color, 50%);
    .decrement-button, .increment-button {
        font-size: 1rem;
        font-weight: 500;
        margin-right: 1rem;
        cursor: pointer;
        padding: 1rem;
        border: none;
        color: white;
    }

    .error-message {
        color: rgb(228, 87, 87);
    }

    .decrement-button{
        background-color: rgb(196, 53, 53);
    }

    .increment-button {
        background-color: rgb(39, 114, 64);
    }
}